


  <div class="main main-raised">
    <div class="card card-nav-tabs">
              <div class="content" style="width: 98.5%;">              
                <div class="tab-content text-center">
                  <div class="tab-pane active" >

                    <div class = "row">
                      <div class="col-md-4">
                        <a href="/admin/school/new" class = "btn btn-primary"> Crear Colegio</a>
                      </div>
                      <div class="col-md-8" style="text-align: justify;">
                      Lo primero en realizar en el sistema es tener un colegio creado, por lo que debe dirigirse a <a target="_blank" href="/admin/school">Colegios</a> verificar si es que el colegio no existe en la lista. Si es que el colegio no se encuentra en la lista seleccionar "+ Agregar Nuevo" rellenando los campos necesarios y seleccionar "Guardar".
                      </div>
                  </div>

                  <hr style="color:#333;background-color:#333;">

                  <div class = "row">
                    <div class="col-md-4">
                      <a href="/admin/user/new" class = "btn btn-primary"> 
                        Crear Usuario </a>
                    </div>
                    <div class="col-md-8" style="text-align: justify;">
                      Para crear un usuario debe dirigirse a <a target="_blank" href="/admin/user">Usuarios</a> y verificar si es que el usuario no existe en la lista. Si es que un nuevo usuario es necesario debe ser creado mediante la selección de "+ Agregar Nuevo" y rellenando los campos necesarios, pudiendo crear un nuevo Colegio dentro del mismo formulario si es que no existe. Finalmente para crear seleccione "Guardar".
                    </div>
                  </div>

                  <hr style="color:#333;background-color:#333;">

                  <div class = "row">
                    <div class="col-md-4">
                      <a href="/admin/section/new" class = "btn btn-primary"> 
                        Crear Módulos</a>
                    </div>
                    <div class="col-md-8" style="text-align: justify;">
                      Para crear módulos debe dirigirse a <a target="_blank" href="/admin/section">Módulos</a> y verificar si es que el módulo no existe en la lista. Si es que un nuevo módulo necesita ser creado seleccionar "+ Agregar Nuevo" rellenando los campos necesarios, pudiendo crear una Asignatura y un Curso, asociados al módulo a crear, en el mismo formulario si es que estos no existen. Finalmente para crear seleccione "Guardar".
                    </div>
                  </div>

                  <hr style="color:#333;background-color:#333;">

                  <div class = "row">
                    <div class="col-md-4">
                      <a href="/admin/image/new" class = "btn btn-primary">
                        Crear Contenido</a>
                    </div>
                    <div class="col-md-8" style="text-align: justify;">
                      Para crear contenido debe dirigirse a <a target="_blank" href="/admin/image">Contenidos</a> y verificar si es que el contenido no existe en la lista. Si es que un nuevo contenido es necesario debe ser creado mediante la selección de "+ Agregar Nuevo" y rellenando los campos necesarios, creando un nuevo Módulo dentro del mismo si es necesario. Finalmente para crear seleccione "Guardar".
                    </div>
                  </div>

                  <hr style="color:#333;background-color:#333;">

                  <div class = "row">
                    <div class="col-md-4">
                      <a href="/admin/request" class = "btn btn-primary">
                        Editar Solicitud</a>
                    </div>
                    <div class="col-md-8" style="text-align: justify;">
                      Para editar las solicitudes registradas en el sistema, ingresar a  <a target="_blank" href="/admin/request">Solicitudes</a> y verificar las solicitudes que tengan el estado "Pendant" para aplicar la operación de Aceptado o Rechazado ("Accepted" o "Rejected") mediante los íconos de la derecha (ticket y cruz respectivamente). Al seleccionar la acción que desea confirmar si es lo requerido.
                    </div>
                  </div>

                  <hr style="color:#333;background-color:#333;">
                </div> 
              </div>
            </div>     
        </div>
      </div>


      <!--/div>
  </div>
</div-->