    <footer class="footer">
	    <div class="container">
	        <!--nav class="pull-left">
	            <ul>
					<li>
						<a href="#">
							Kaivo
						</a>
					</li>
	            </ul>
	        </nav-->
	        <div class="copyright pull-right">
	            &copy; Desarrollado por  Kaivo, 2017
	        </div>
	    </div>
	</footer>