<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	        	<div class="logo-container">
	                <div class="logo">
	                    <!--img src="logo.png" alt="HolSense" rel="tooltip" title="ASDASD" data-placement="bottom" data-html="true"-->
	                    <%= link_to image_tag("logo.png"), schools_path, {alt: "HolSense", rel: "tooltip", title: "Hola!", "data-placement": "bottom", "data-html": "true"} %>
	                </div>
	                <div class="brand">
	                	HolSense 
	                </div>
				</div>
	    </div>


